<!doctype html>
<title>Hello from Flask</title>
<body>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}
    <form action="/scan" method="POST">
    <label for="host">Host:</label><br>
    <input type="text" id="host" name="host"><br>
    <input type="radio" id="singlePort" name="portSelection" value="singlePort">
    <label for="singlePort">Single Port</label>
        Port Number: <input type="text" id="portNumber" name="portNumber" size="5"><br>
    <input type="radio" id="portRange" name="portSelection" value="portRange">
    <label for="portRange">Port Range</label>
        Begin: <input type="text" id="portsBegin" name="portsBegin" size="5">
        End: <input type="text" id="portsEnd" name="portsEnd" size="5"><br>
    <input type="radio" id="javascript" name="allPorts" value="allPorts">
    <label for="allPorts">All Ports</label><br>
    <label for="host">Arguments:</label><br>
    <input type="text" id="arguments" name="arguments"><br>
    <input type="checkbox" id="os_scan" name="os_scan" value="True">
    <label for="os_scan"> OS Scan </label><br>
    <input type="submit" value="Scan">
    </form> 
    <div class="vertical-menu">
        {% for result in scan_results %}
        <a href="{{result[1]}}">{{ result[0] }}</a> 
        {% endfor %}
      </div>
</body>

<style>
    .vertical-menu {
        height: 1000px;
        overflow-y: auto;
    }
    
    .vertical-menu a {
      background-color: #eee;
      color: black;
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    
    .vertical-menu a:hover {
      background-color: #ccc;
    }
    
    .vertical-menu a.active {
      background-color: #04AA6D;
      color: white;
    }
</style>
